* {
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
  }
  
  main {
    margin: 0 auto;
    max-width: 1500px;
    padding: 20px;
  }
  
  .cards {
    background: #eee;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    background: #fff;
    border: 2px solid #aaa;
    border-radius: 5px;
    line-height: 1.375rem;
    max-width: 470px;
    width: 100%;
    max-height: 300px;
    margin-bottom: 10px;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
  }

  .card > * {
    margin: 10px;
  }

  .card__header {
    font-size: 1.375rem;
  }

  .card__container {
    max-height: 100%;
    min-width: 150px;

    display: flex;
    flex-grow: 1;
  }

  .card__container__text {
    margin-right: 20px;
    max-height: 100%;
    overflow: auto;
  }

  .card__container__image > img {
    width: 150px;
    height: auto;
  }

  .card__footer {
    font-weight: bold;
    list-style: none;

    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
  }

  .card__footer > * {
    margin-right: 1ch;
  }
